<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255236342568-7rgg7mapft4k12lvg4734s6ni6uqigdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255236342568-7rgg7mapft4k12lvg4734s6ni6uqigdn</string>
	<key>API_KEY</key>
	<string>AIzaSyBWoaWxULcibOb8Pocok5FqffXtvknnKTc</string>
	<key>GCM_SENDER_ID</key>
	<string>255236342568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-67ec2</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-67ec2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255236342568:ios:ffab106fa92d2bf3e7461d</string>
</dict>
</plist>